@font-face {
    font-family: 'ptsans bold';
    src: url(../fonts/ptsans/ptsansbold.ttf);
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'ptsans';
    src: url(../fonts/ptsans/ptsans.ttf);
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'myriad pro';
    src: url(../fonts/myriad/myriadpro.otf);
    font-weight: normal;
	font-style: normal;
}