<html>
	<head>
		<script src = "jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/main.css">	
		<link rel="stylesheet" type="text/css" href="../library/css/bootstrap.min.css">	
	</head>
	<body>
		<div class = "app">
			<div>
				{% include '/header.tmpl' %}
			</div>
			<div>
				{% include '/slider.tmpl' %}
			</div>
			<div>
				{% include '/product.tmpl' %}
			</div>
			<hr>
			<div>
				{% include '/services.tmpl' %}
			</div>
			<div>
				{% include '/todo.tmpl' %}
			</div>
			<div>
				{% include '/map.tmpl' %}
			</div>
			<div>
				{% include '/footer.tmpl' %}
			</div>
		</div>
	</body>
</html>